#button-drop-down {
    background-color: red;
}
.dropdown {
    position: relative;
  /* display: inline-block; */
}
#ul {
    visibility: collapse;
  position: absolute;
  /* z-index: 1; */

}

.dropdown:hover #ul {
    visibility: visible;
}